/vendor
/node_modules
.git
.env
Dockerfile
.dockerignore
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
database/database.sqlite
